@import "/fonts/fonts.css";
.visually-hidden {
  display: none;
}

body {
  margin: 0;
  display: flex;
}

main {
  font-family: "Circular", verdana, sans-serif;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% - 5rem);
  position: relative;
  height: 100vh;
  border-left: 1px solid #e0e6eb;
}

.cover-main {
  border-left: 0;
  min-width: 100%;
}

.sidebar {
  width: 72px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .navigation-btn {
  border-bottom: 1px solid #e0e6eb;
  height: 72px;
}
.sidebar .navigation-btn .hamburger-bg,
.sidebar .navigation-btn .close-bg {
  transition: fill 0.5s ease;
}
.sidebar .navigation-btn .hamburger-lines *,
.sidebar .navigation-btn .close-lines * {
  transition: stroke 0.5s ease;
}
.sidebar .navigation-btn:hover {
  cursor: pointer;
}
.sidebar .navigation-btn:hover .hamburger-bg,
.sidebar .navigation-btn:hover .close-bg {
  fill: #01070b;
}
.sidebar .navigation-btn:hover .hamburger-lines *,
.sidebar .navigation-btn:hover .close-lines * {
  stroke: #fff;
}
.sidebar .page-title {
  flex-grow: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
}
.sidebar .page-title div {
  transform: rotate(-90deg);
  font-family: verdana, sans-serif;
  font-size: 1.25em;
  padding: 1em;
}

.navigation-wrapper {
  max-width: 472px;
  position: absolute;
  z-index: 1;
  display: flex;
  height: 100%;
}
.navigation-wrapper .toc-container {
  padding: 5rem 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 1px solid #e0e6eb;
  overflow: auto;
}
.navigation-wrapper .toc-container .toc-column {
  max-width: unset;
}
.navigation-wrapper .toc-container .chapter-item {
  font-size: 1em;
  font-weight: 400;
  padding: 0.75rem 3rem 0.75rem 2.5rem;
  gap: 1rem;
  border-left: 0.5rem solid #fff;
}
.navigation-wrapper .toc-container .chapter-item:hover {
  border-left-color: #f81e00;
}
.navigation-wrapper .toc-container .resources-link {
  text-transform: none;
}

.hidden {
  display: none;
}

.logo-container,
.logo-container-cover {
  background-color: #f81e00;
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.logo-container:hover {
  background-color: #01070b;
}

.logo-container:hover svg rect {
  fill: #01070b;
}

.logo-container svg rect {
  fill: #f81e00;
  transition: fill 0.3s ease;
}

.logo-container-cover {
  position: fixed;
}

.page-number {
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBMPlexMono", monospace;
  border-top: 1px solid #e0e6eb;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #445A6A;
}

.nav-container {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  margin: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.nav-button {
  border: 2px solid #e0e6eb;
  display: inline-block;
  padding: 1em;
  background-color: #fff;
}
.nav-button:hover {
  background-color: #01070b;
}
.nav-button:hover i {
  color: #fff;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cover {
  background-color: #01070b;
  background-image: url("/img/Pattern - Dots.png");
  background-size: initial;
  background-position: center right;
  background-repeat: no-repeat;
  color: #fff;
  padding: 4.5rem 13.5rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover > p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #869EAE;
}
.cover h1 {
  font-size: 6.5rem;
  line-height: 112px;
  font-weight: 700;
  margin: 1rem 0;
}

.cover-copy {
  background-color: #fff;
  color: #01070b;
  padding: 4.5rem 4.5rem 4.5rem 13.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.5rem;
}
.cover-copy p {
  max-width: 42rem;
  line-height: 2rem;
}

div.get-started {
  padding-left: 1rem;
}
div.get-started a {
  text-decoration: none;
  color: #01070b;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  z-index: 0;
  border: 1.5px solid #f81e00;
  align-items: center;
  display: inline-flex;
  padding: 1rem 2rem;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
  position: relative;
  text-wrap: nowrap;
}
div.get-started a::before {
  content: "";
  width: 0;
  transition: width 0.25s;
  height: 100%;
  background-color: #f81e00;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
div.get-started a:hover {
  background-color: #f81e00;
  color: #fff;
}
div.get-started a:hover::before {
  width: 100%;
}
div.get-started .gs-arrow-right {
  margin-left: 1em;
  background-image: url("/img/Icon - Arrow Right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.toc-container {
  padding: 10em 4em 4em;
  text-align: left;
}
.toc-container > p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #445A6A;
  padding: 0 3rem;
}
.toc-container .toc-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.toc-container .toc-column {
  flex: 1;
}
.toc-container .chapter-item {
  font-size: 1.25rem;
  font-weight: 700;
  color: #01070b;
  display: flex;
  align-items: flex-start;
}
.toc-container .chapter-item .chapter-count {
  color: #cf1900;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.toc-container .chapter-item a {
  text-decoration: none;
  color: inherit;
}
.toc-container .chapter-item .chapter-title-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
}
.toc-container .chapter-item:hover {
  background-color: #f4f5f6;
}
.toc-container .chapter-item:hover a {
  text-decoration: underline;
}

.toc-container-page #toc-title {
  margin-bottom: 3em;
  padding-left: 1rem;
  font-weight: unset;
}
.toc-container-page .chapter-item {
  font-weight: unset;
  font-size: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
}
.toc-container-page .chapter-item:hover .chapter-count {
  background-color: #f4f5f6;
}
.toc-container-page .chapter-item .chapter-title-wrapper {
  padding-top: 0.125rem;
}

p .chapter {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2em;
  color: #f81e00;
}
p .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2em;
  color: #01070b;
}

.ebook-page-container {
  display: flex;
  height: 100%;
}
.ebook-page-container .ebook-heading-container {
  overflow: auto;
}
.ebook-page-container div {
  padding: 5%;
}
.ebook-page-container .ebook-chapter-heading {
  padding-bottom: 0;
}
.ebook-page-container .ebook-chapter-heading .ebook-chapter-number {
  text-transform: uppercase;
  color: #cf1900;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.ebook-page-container .ebook-chapter-heading .ebook-chapter-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.ebook-page-container .ebook-copy .ebook-chapter-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.ebook-page-container .ebook-copy .copy-paragraph {
  font-size: 1.25rem;
  line-height: 2;
  padding: 0;
}
.ebook-page-container .ebook-image {
  background-color: #e0e6eb;
  display: flex;
  align-items: center;
  padding: 2em;
  max-width: 586px;
}
.ebook-page-container .ebook-image img {
  overflow: auto;
}

@media (width <= 425px) {
  .toc-container .toc-columns {
    display: block;
  }
}
@media (width <= 768px) {
  .cover {
    padding: 6.5rem 1.5rem 1.5rem;
    background-position: 16rem center;
  }
  .cover h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .cover-copy {
    padding: 2rem;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .cover-copy p {
    margin: 0 auto 2rem;
  }
  .toc-container {
    padding: 2em;
  }
  .toc-container .toc-columns {
    flex-direction: column;
  }
  .toc-container .toc-column {
    max-width: unset;
  }
}
@media (width <= 1440px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    height: 72px;
    width: auto;
    flex-direction: row;
  }
  .sidebar .page-title {
    transform: rotate(90deg);
  }
  .sidebar .page-title div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .toc-container,
  .ebook-page-container {
    border-left: 0;
    border-top: 1px solid #e0e6eb;
  }
  .ebook-page-container {
    flex-direction: column;
    margin-bottom: 2em;
  }
  .ebook-page-container .ebook-heading-container {
    order: 2;
    overflow: unset;
  }
  .ebook-page-container .ebook-image {
    max-width: unset;
    justify-content: center;
  }
  .navigation-btn {
    order: 1;
    border-bottom: 0;
    border-left: 1px solid #e0e6eb;
  }
  .page-number {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
