---
layout: layout
---
<div class="cover-container">
  {% include 'logo-container', isCover %}
  <div class="cover">
    <p>A Lullabot eBook</p>
    <h1>{{ title }}</h1>
  </div>

  <div class="cover-copy">
    <div class="get-started">
      <a href="../table-of-contents/" aria-label="Read the {{ title }} eBook">Get Started<i class="gs-arrow-right"></i></a>
    </div>
    {{ content }}
  </div>
</div>
