<div class="get-started">
  <a {% if page.fileSlug == 'table-of-contents' %} href="../chapters/chapter-1/" {% else %} href="../table-of-contents/" {% endif %} aria-label="Read the {{ title }} eBook">Get Started<i class="gs-arrow-right"></i></a>
</div>
