<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon"/>
</head>
<body>
{% if page.fileSlug != 'cover' %}
  {% include 'sidebar' %}
  <main>{% include 'menu' %}{{ content }}</main>
{% else %}
  <main class="cover-main">
    {% include 'menu' %}{{ content }}</main>
{% endif %}

<script src="/js/interactions.js"></script>
</body>
</html>
