{% if isCover %}
<div class="logo-container-cover">
{% else %}
<div class="logo-container">
{% endif %}
  <a href="https://lullabot.com/">
    <div>
      <img src="/img/logo.svg" alt="" />
    </div>
  </a>
</div>
