{% if isCover %}
<div class="logo-container-cover">
{% else %}
<div class="logo-container">
{% endif %}
  <a href="https://lullabot.com/" aria-label="Lullabot.com homepage">
    <div>
      <img src="/img/logo.svg" alt="Lullabot.com homepage" />
    </div>
  </a>
</div>
