<div class="navigation-wrapper hidden">
  <div class="toc-container">
    <p>Table of Contents</p>
    {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
    {% assign count = 1 %}
    {% for bookWithPages in collections.booksWithPages %}
      {% if bookWithPages.book.slug == currentBookSlug %}
        {% assign totalPages = bookWithPages.pages | size %}
        
        {% assign totalPagesWithTags = 0 %}
        {% for page in bookWithPages.pages %}
          {% if page.tags contains "chapter" %}
            {% assign totalPagesWithTags = totalPagesWithTags | plus: 1 %}
          {% endif %}
        {% endfor %}
        
        {% assign itemsPerColumn = totalPagesWithTags | divided_by: 2 | ceil %}
        <div class="toc-column">
          {% for page in bookWithPages.pages %}
            {% if page.tags contains "chapter" %}
              <div class="page-item">
                <span class="page-count">{% if count < 10 %}0{% endif %}{{ count }}</span>
                <div class="page-title-wrapper">
                  <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
              </div>
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <p class="resources-link">This Ebook was produced by Lullabot. For more articles, ebooks, and more check out our <a
        href="https://www.lullabot.com/resources">Resources</a> page.</p>
  </div>
</div>