<nav class="nav-container" aria-label="E-book arrow navigation">
  {% if isFirstPage %}
    <a href="../../table-of-contents/" aria-label="Previous page">
      <div class="nav-button">
        <i class="gg-arrow-left"></i>
      </div>
    </a>
  {% else %}
    {% if previousPage %}
      <a href="{{ previousPage.url }}" aria-label="Previous page">
        <div class="nav-button">
          <i class="gg-arrow-left"></i>
        </div>
      </a>
    {% endif %}
  {% endif %}

  {% if nextPage %}
    <a href="{{ nextPage.url }}" aria-label="Next page">
      <div class="nav-button">
        <i class="gg-arrow-right"></i>
      </div>
    </a>
  {% endif %}
</nav>