<div class="sidebar">
  {% include 'logo-container' %}
  {% if page.fileSlug != 'table-of-contents' %}
    <div class="navigation-btn">
      <div class="hamburger-icon">{% include 'hamburger-icon' %}</div>
      <div class="close-icon hidden">{% include 'close-icon' %}</div>
    </div>
  {% endif %}

  {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
  {% for bookWithPages in collections.booksWithPages %}
    {% if bookWithPages.book.slug == currentBookSlug %}

      <div class="page-title">
        <div>{{ bookWithPages.book.title }}</div>
      </div>
      <div class="page-number">
        <div aria-label="Current page number">
          <span class="visually-hidden">Page: </span>
          {% if page.fileSlug == 'table-of-contents' %}
            TOC
          {% else %}
            {{ page.fileSlug | replace: 'page-', '' }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>