$lb-black: #01070b;
$lb-red: #f81e00;
$lb-gray: #e0e6eb;
$lb-ocean: #869EAE;
$lb-white: #fff;

@import "/fonts/fonts.css";

body {
  margin: 0;
  display: flex;
}

main {
  font-family: 'Circular', verdana, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% - 81px);
  position: relative;
}

.sidebar {
  width: 80px;
  height: 100vh;
  border-right: 1px solid $lb-gray;
  box-sizing: border-box;
  // box-shadow: -10px 10px 10px 10px $lb-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-title {
    flex-grow: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;

    div {
      transform: rotate(-90deg);
      font-family: verdana, sans-serif;
      font-size: 1.25em;
    }
  }
}

.logo-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $lb-red;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBMPlexMono';
  border-top: 1px solid $lb-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #445A6A;
}

.nav-container {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  margin: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.nav-button {
  border: 2px solid $lb-gray;
  display: inline-block;
  padding: 1em;
  background-color: #fff;

  &:hover {
    background-color: $lb-black;

    i {
      color: #fff;
    }
  }
}

.cover {
  background-color: $lb-black;
  background-image: url('/img/Pattern - Dots.png');
  background-size: initial;
  background-position: center right;
  background-repeat: no-repeat;
  color: #fff;
  padding: 7em;

  > p {
    text-transform: uppercase;
    font-size: 16px;
    color: $lb-ocean;
  }


  h1 {
    font-size: 104px;
    line-height: 112px;
    font-weight: 700;
  }
}

div.get-started {
  float: right;

  a {
    text-decoration: none;
    color: $lb-black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    z-index: 0;
    border: 1.5px solid $lb-red;
    align-items: center;
    display: inline-flex;
    padding: 1rem 2rem;
    transition-property: background-color, box-shadow;
    transition-duration: .25s;
    position: relative;
  }
  a::before {
    content: '';
    width: 0;
    transition: width .25s;
    height: 100%;
    background-color: $lb-red;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  a:hover {
    background-color: $lb-red;
    color: $lb-white;
  }
  a:hover::before {
    width: 100%;
  }

  .gs-arrow-right {
    margin-left: 1em;
    background-image: url('/img/Icon - Arrow Right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
}

.cover-copy {
  background-color: #fff;
  color: $lb-black;
  padding: 7em;
  font-size: 1.25em;
}

.toc-container {
  padding: 4em; 
  padding-top: 10em;
  text-align: left; 

  > p {
    text-transform: uppercase;
    margin-bottom: 2em; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #445A6A;
  }

  .toc-columns {
    display: flex;
    justify-content: space-between;
  }

  .toc-column {
    flex: 1;
    max-width: 45%;
  }

  .chapter-item {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 2em; 
    color: $lb-black;
    display: flex;
    align-items: flex-start;

    .chapter-count {
      color: $lb-red;
      margin-right: 1em;
      flex-shrink: 0; 
    }

    a {
      text-decoration: none; 
      color: inherit; 

      &:hover {
        color: $lb-red; 
      }
    }

    // Ensure the text after the number is indented correctly
    .chapter-title-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

p.chapter {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2em; 
  color: $lb-red;
}

p.title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 2em; 
  color: $lb-black;
}

.ebook-page-container {
  display: flex;
  height: 100%;
  
  div {
    padding: 7em;
  }

  .ebook-copy {
    p:first-of-type {
      text-transform: uppercase;
      color: $lb-red;
      font-weight: 700;
    }

    .copy-paragraph {
      font-size: 1.25em;
      line-height: 2;
    }
  }

  .ebook-image {
    background-color: $lb-gray;
  }
}